body{
  margin: 0;
  border: 0;
  padding: 0;
  background: #fafafa;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  font-size: 58px;
  /* line-height: 80px; */
  line-height: 113.15%;
  letter-spacing: 0.2px;
}
h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  /* line-height: 57px; */
  line-height: 142%;
  /* identical to box height, or 142% */
  letter-spacing: 0.2px;
  color: #000000;
}
h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 32px; */
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #000;
}
h4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* line-height: 30px; */
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
h5{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #C4C4C4;
}
h6{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 24px; */
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 20px; */
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
li{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 24px; */
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
.btn-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* line-height: 28px; */
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
.mobile-menu{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* line-height: 28px; */
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
.list{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 30px; */
  line-height: 150%;
  /* identical to box height, or 150% */
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
.a-navigation{
  width: 59px;
  height: 24px;
}
.menu a:hover{
  opacity: 0.8;
}
.menu a:active{
  transition: 0.1s;
  opacity: 1.2;
}
header{
  background: url('img/background.jpg') no-repeat center top / cover;
  background-size: 100% 86%;
}
.container{
  display: block;
  margin: 0 auto;
  width: 72.6%;
  /* padding: 5.6% 0; */
}
.navigation .container{
  display: flex;
}
.relvise{
  width: 187px;
}
.menu{
  display: flex;
  width: 280px;
  height: 24px;
  margin: auto 0;
  list-style: none;
}
.menu > li{
  margin: 0 21px 0 0;
}
.menu li a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: #737373;
}
.info{
  display: flex;
  width: 100%;
}
.info{
  margin: 80px 0;
}
.box1 h1{
  margin: 0;
}
.box1 h4{
  margin: 35px 0;
  color: #737373;
}
.box1, .box2{
  width: 50%;
}
.btn{
  display: flex;
  width: 354px;
  height: 48px;
}
.btn-1{
  width: 187px;
  height: 100%;
  margin: 0 10px 0 0;
  border-radius: 37px;
  background: #ff7b47;
  border: none;
  transition: 0.2s;
  padding: 0;
  color: #fff;
  cursor: pointer;
}
.btn-2{
  width: 157px;
  height: 100%;
  border-radius: 37px;
  border: 1px solid #0D5C63;
  background: none;
  color: #0d5c63;
  cursor: pointer;
  transition: 0.2s;
  padding: 0;
  position: static;
  right: 0;
}
.btn-1:hover,
.btn-2:hover{
  opacity: 0.8;
}
.btn-1:active,
.btn-2:active{
  transform: scale(0.8);
}
.card{
  display: flex;
  justify-content: space-between;
  height: 242px;
  margin: 80px 0 0 0;
}
.card h3{
  margin: 10px 0;
  color: #252B42;
}
.card p{
  color: #737373;
  margin: 0;
}
.card-1{
  margin-right: 30px;
  padding: 35px 40px;
  background: #fff;
  color: #0D5C63;
}
.card-2{
  margin-right: 30px;
  padding: 35px 40px;
  background: #fff;
  color: #0D5C63;
}
.card-3{
  padding: 35px 40px;
  background: #0D5C63;
  color: #fff;
}
.card-3 h3{
  margin: 10px 0;
  color: #fff;
}
.card-3 p{
  color: #fff;
  margin: 0;
}

.features .container{
  text-align: center;
}
.features .text{
  margin: 230px 0 0 0;
  height: 107px;
}
.features h2{
  margin: 0 0 10px 0;
  vertical-align: middle;
}
.features p{
  margin: 10px 0 0 0;
}
.features .box{
  margin: 50px 0 0 0;
  display: flex;
  width: 100%;
  height: 175px;
}
.box{
  justify-content: space-between;
}
.box > div{
  width: 22%;
  background: #fff;
  padding: 30px 0;
}
.box-svg{
  width: 48px;
  height: 48px;
  margin: 0 auto;
  text-align: center;
}
.box h4{
  color: #252B42;
  margin: 10px 0 0 0;
}
.features-2 .container{
  padding: 80px 0;
  text-align: center;
}
.features-2 .header,
.about .header{
  padding: 45px 0;
}
.features-2 h2,
.about h2{
  margin: 0 0 10px 0;
}
.features-2 p,
.about p{
  margin: 0;
}
.features-2 .cards{
  justify-content: space-between;
  display: flex;
  height: 341px;
}
.features-2 .cards .text{
  padding: 30px;
}
.features-2 .cards h5{
  margin: 0;
  margin-bottom: 15px;
  color: #252B42;
}
.features-2 .cards p{
  color: #737373;
}
.features-2 .cards .text{
  background: #fff;
  height: 203px;
}
.features-2 .cards img{
  width: 100%;
}
.features-2 .cards > div{
  width: 22%;
  height: 100%;
}

.about{
  background-color: #fff;
  height: 890px;
}
.about .header{
  text-align: center;
  padding: 100px 0 100px 0;
}
.about .media{
  display: flex;
  height: 442px;
}
.about .media .info{
  display: block;
  margin: 0;
  margin-left: 11.4%
}
.about .media iframe{
  /* width: 57%; */
  width: 600px;
  /* height: 100%; */
  height: 442px;
}
.about .info .text{
  width: 100%;
  height: 50%;
}
.about .info .text h2{
  font-size: 35px;
  line-height: 40px;
  padding: 20px 0 15px 0;
  margin: 0;
}
.about .text-2,
.about .text-3{
  display: flex;
  height: 25%;
  padding: 0;
}
.about .text-2 .text,
.about .text-3 .text{
  display: block;
  margin-left: 20px;
}
.about h5{
  color: #252B42;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.about h6{
  margin: 0;
  padding: 0;
}

.clients{
  height: 340px;
}
.clients .container > div{
  height: 50%;
}
.clients .logo{
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.logo div{
  margin: auto;
}
.padding{
  padding: 20px 32px;
}
.subscribe{
  background: #17213C;
  height: 124px;
  width: 100%;
}
.subscribe > div{
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}
.subscribe .text{
  width: 30%;
}
.subscribe .mail{
  width: 50%;
}
.subscribe h3{
  color: #fff;
  margin: 0;
}
.input{
  position: relative;
  background: #fff;
  height: 58px;
  border-radius: 10px;
  justify-content: space-between;
}
.input input{
  position: absolute;
  top: 6px;
  left: 2%;
  padding: 0;
  width: 70%;
  height: 80%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
}
.input button{
  position: absolute;
  right: 0;
  width: 26%;
  height: 100%;
  background: #FF7B47;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.2s;
}
.input button:hover{
  opacity: 0.9;
}
.input button:active{
  transition: 0.1s;
  opacity: 1.5;
}
.contact .header{
  margin: 80px 0;
  text-align: center;
}
.contact h2{
  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;
}
.contact p{
  text-align: center;
  margin: 0 auto;
}
.contact .cards{
  display: flex;
  margin: 0 32.5px 148px 32.5px;
  height: 350px;
}
.contact .cards > div{
  width: 33.3%;
  margin: 30px 0;
  padding: 25px 0;
  background: #fff;
  text-align: center;
}
.contact .cards > div h6{
  margin: 0;
  padding: 0;
  color: #252B42;
}
.contact .cards > div h5{
  margin: 15px 0;
  padding: 0;
  color: #252B42;
}
.contact .cards .locations{
  margin: 0;
  padding: 55px 0;
  color: #fff;
  background: #252B42;
}
.contact .cards .locations h6{
  margin: 0;
  padding: 0;
  color: #fff;
}
.contact .cards .locations h5{
  margin: 15px 0;
  padding: 0;
  color: #fff;
}
.contact button{
  width: 50%;
  padding: 0;
  height: 44px;
  background: none;
  border-radius: 7px;
  border: 2px solid #FF7B47;
  color: #FF7B47;
  cursor: pointer;
  transition: 0.2s;
}
.contact .cards .locations button{
  border: 2px solid #fff;
  color: #fff;
}
.contact button:hover{
  opacity: 0.8;
}
.contact button:active{
  transition: 0.1s;
  transform: scale(0.9);
}
.contact .cards svg{
  margin-bottom: 15px;
}

footer .contact-us{
  background: #fff;
}
footer .contacts{
  position: relative;
  display: flex;
  height: 62px;
  padding: 40px 0;
}
footer .contacts h3{
  margin: 0;
  padding: 0;
  margin: 0 0 10px 0;
}
footer .contacts p{
  margin: 0;
  padding: 0;
}
footer .contacts .text{
  width: 50%;
  text-align: left;
}
footer .contacts button{
  position: absolute;
  right: 2%;
  width: 16%;
  height: 58px;
  color: #fff;
  background: #FF7B47;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
footer .contacts button:hover{
  opacity: 0.8;
}
footer .contacts button:active{
  transition: 0.1s;
  transform: scale(0.9);
}

footer .map{
  background: #17213C;
}
footer .map .container{
  height: 170px;
  padding: 50px 0;
}
footer .map .list{
  justify-content: space-between;
  display: flex;
  height: 100%;
}
footer .map .list > div{
  position: relative;
  color: #fff;
  width: 14.4%;
  margin: 0;
}
footer .map h5{
  margin: 0;
  color: #fff;
}
footer .info > div,
footer .legal > div,
footer .features > div,
footer .resourses > div{
  position: absolute;
  bottom: 0;
}
footer .map ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .map li{
  color: #fff;
  line-height: 27px;
}
footer .tought{
  width: 31% !important;
}
footer .tought > div{
  height: 108px;
  margin: 18px 0;
}
footer .tought > div div{
  display: flex;
  margin: 4px 0;
}
footer .tought svg{
  margin-right: 10px;
}
footer .tought h6{
  margin: 0;
  line-height: 200%;
}

footer .social{
  background: #fff;
}
footer .social h6{
  margin: 0;
}
footer .social .container{
  position: relative;
  display: flex;
  padding: 25px 0;
}
footer .social .icons{
  position: absolute;
  right: 20px;
}
footer .social .icons svg{
  margin-right: 20px;
  transition: 0.2s;
}
footer .social a{
  text-decoration: none;
  width: 24px;
}
footer .social svg:hover{
  opacity: 0.8;
}
footer .contacts button:active{
  transition: 0.1s;
  transform: scale(0.9);
}