body{
  margin: 0;
  border: 0;
  padding: 0;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  font-size: 58px;
  /* line-height: 80px; */
  line-height: 113.15%;
  letter-spacing: 0.2px;
}
h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  /* line-height: 57px; */
  line-height: 142%;
  /* identical to box height, or 142% */
  letter-spacing: 0.2px;
  color: #000000;
}
h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 32px; */
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #000;
}
h4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* line-height: 30px; */
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
h5{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #C4C4C4;
}
h6{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 24px; */
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 20px; */
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
link{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 24px; */
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
.btn-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* line-height: 28px; */
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
.mobile-menu{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* line-height: 28px; */
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
.list{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 30px; */
  line-height: 150%;
  /* identical to box height, or 150% */
  letter-spacing: 0.2px;
  color: #C4C4C4;
}
.a-navigation{
  width: 59px;
  height: 24px;
}
.header{
  background: url('../img/background.jpg') no-repeat center top / cover;
}
.container{
  display: flex;
  margin: 0 auto;
  width: 72.6%;
  /* padding: 5.6% 0; */
}
.relvise{
  width: 187px;
}
.menu{
  display: flex;
  width: 280px;
  height: 24px;
  margin: auto 0;
  list-style: none;
}
.menu > li{
  margin: 0 21px 0 0;
}
.menu li a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: #737373;
}